@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

$main-color:#f9f9f7;
$sub-color:rgb(0, 0, 0);

$main-font:"yu-mincho-pr6n", sans-serif;
$sub-font: "yu-gothic-pr6n", sans-serif;
$caption-font:"toppan-bunkyu-midashi-go-std", sans-serif;